html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background:#0a0a0a;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* font */

@font-face {
    font-family: 'winkleregular';
    src: url(../fonts/winkle/Winkle-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'buttons';
    src: url(../fonts/Roboto_Mono/RobotoMono-SemiBold.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'italicmono';
    src: url(../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'regmono';
    src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
    font-weight: 100;
    font-style: normal;
}


h1 {
    font-family: 'italicmono';
    color: white;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'regmono';
    color: grey;
    font-size: large;
    margin: 0;
}

/*index stuff*/

.info-container {
    position: absolute;
    top: 30%; 
    right: 0%; 
    transform: translateX(-50%); 
    text-align: right;
}

.button {
    font-family: 'buttons';
    background-color:#0a0a0a;
    color: white;
    font-size: 15px;
    padding: 10px 10px; 
    text-align: center;
    box-shadow: 0 0 9px whitesmoke, 0 0 9px whitesmoke;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100px
}

.button-spacing {
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: whitesmoke;
    color: #0a0a0a;
}

/* circle text*/


#text-container {
    position: absolute;
    top: 45%;
    left: 15%; 
    transform: translateY(-50%); 
    text-align: center; 
}
  
#pfp-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    background: url('imagecircle.png');
    background-size: cover;
    transform: translate(-50%, -50%);
}

p{
    height: 450px;
    width: 450px;
    position: relative;
    animation: effect 20s linear infinite; 
}

@keyframes effect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

span{
    position: absolute;
    left: 50%;
    transform-origin: 0px 225px;
    transform-style: flat;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    text-transform: lowercase;
    color: white;
    white-space: nowrap;
}


/* stars */

#stars-group-1, #stars-group-2, #stars-group-3, #stars-group-4, #stars-group-5, #stars-group-6 {
    position: fixed; 
    top: 0;         
    left: 0;        
    width: 100%;   
    height: 100%; 
    overflow: hidden; 
    pointer-events: none;
}


#stars-group-1{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 1752px 1408px #fff, 1210px 791px #fff, 1539px 1175px #fff, 348px 643px #fff, 105px 1108px #fff, 1251px 697px #fff, 1791px 1090px #fff, 1673px 1038px #fff, 1050px 823px #fff, 1372px 844px #fff, 1187px 1509px #fff, 728px 575px #fff, 215px 1234px #fff, 961px 956px #fff, 969px 1361px #fff, 1329px 1056px #fff, 898px 422px #fff, 6px 916px #fff, 127px 356px #fff, 1318px 972px #fff, 51px 297px #fff, 1223px 1659px #fff, 13px 798px #fff, 659px 1404px #fff, 939px 1301px #fff, 1618px 231px #fff, 1407px 204px #fff, 1768px 1251px #fff, 655px 48px #fff, 164px 1720px #fff, 114px 49px #fff, 44px 1797px #fff, 1093px 388px #fff, 1187px 208px #fff, 304px 1242px #fff, 473px 129px #fff, 1637px 1150px #fff, 1290px 828px #fff, 1411px 918px #fff, 97px 1626px #fff, 1772px 939px #fff, 1209px 330px #fff, 627px 1701px #fff, 554px 1279px #fff, 56px 170px #fff, 1679px 991px #fff, 5px 1258px #fff, 698px 1559px #fff, 1627px 570px #fff, 1253px 1216px #fff, 540px 164px #fff, 730px 276px #fff, 1784px 1175px #fff, 1331px 1745px #fff, 169px 130px #fff, 1020px 256px #fff, 1066px 1574px #fff, 160px 1703px #fff, 1232px 955px #fff, 603px 886px #fff, 1353px 675px #fff, 1445px 1792px #fff, 789px 957px #fff, 1789px 1780px #fff, 1254px 1647px #fff, 897px 1368px #fff, 1075px 1059px #fff, 668px 729px #fff, 245px 1460px #fff, 1602px 1777px #fff, 913px 1639px #fff, 647px 325px #fff, 1190px 853px #fff, 388px 1278px #fff, 1222px 437px #fff, 175px 1323px #fff, 575px 424px #fff, 1036px 25px #fff, 1249px 363px #fff, 69px 418px #fff, 1467px 724px #fff, 423px 978px #fff, 66px 1106px #fff, 1551px 800px #fff, 1333px 998px #fff, 1587px 417px #fff, 1531px 840px #fff, 627px 1339px #fff, 1294px 292px #fff, 1288px 295px #fff, 1028px 1714px #fff, 65px 1474px #fff, 1361px 144px #fff, 383px 1627px #fff, 1600px 1110px #fff, 614px 939px #fff, 1234px 1239px #fff, 458px 360px #fff, 1202px 102px #fff, 54px 1325px #fff, 61px 389px #fff, 1258px 247px #fff, 363px 863px #fff, 171px 1740px #fff, 290px 1221px #fff, 1255px 809px #fff, 1092px 150px #fff, 706px 427px #fff, 251px 1108px #fff, 1471px 240px #fff, 554px 1655px #fff, 1078px 1624px #fff, 348px 1177px #fff, 1494px 621px #fff, 807px 202px #fff, 473px 678px #fff, 80px 375px #fff, 1646px 863px #fff, 1766px 1305px #fff, 1594px 1610px #fff, 734px 881px #fff, 1503px 794px #fff, 1203px 333px #fff, 486px 272px #fff, 1348px 1079px #fff, 543px 209px #fff, 180px 1120px #fff, 1404px 1583px #fff, 612px 826px #fff, 1715px 319px #fff, 556px 982px #fff, 1798px 117px #fff, 1052px 1161px #fff, 1240px 1062px #fff, 1310px 1423px #fff, 705px 1693px #fff, 729px 849px #fff, 373px 1451px #fff, 1122px 1091px #fff, 207px 97px #fff, 1650px 1618px #fff, 1516px 1461px #fff, 264px 57px #fff, 735px 1699px #fff, 1680px 598px #fff, 2px 346px #fff, 1501px 260px #fff, 1068px 465px #fff, 147px 1524px #fff, 405px 529px #fff, 379px 1612px #fff, 80px 364px #fff, 1347px 638px #fff, 142px 592px #fff, 1322px 473px #fff, 88px 1137px #fff, 704px 625px #fff, 1254px 1297px #fff, 337px 23px #fff, 1639px 618px #fff, 408px 1729px #fff, 1481px 199px #fff, 1288px 85px #fff, 1788px 920px #fff, 841px 1423px #fff, 260px 519px #fff, 604px 353px #fff, 1351px 156px #fff, 686px 848px #fff, 270px 836px #fff, 1260px 652px #fff, 1554px 1498px #fff, 552px 655px #fff, 460px 183px #fff, 446px 343px #fff, 329px 584px #fff, 1192px 976px #fff, 186px 1012px #fff, 1138px 22px #fff, 1583px 96px #fff, 747px 157px #fff, 229px 1098px #fff, 10px 987px #fff, 29px 616px #fff, 1406px 509px #fff, 1650px 568px #fff, 1330px 1738px #fff, 1705px 1396px #fff, 1558px 828px #fff, 337px 391px #fff, 862px 805px #fff, 737px 178px #fff, 1730px 162px #fff, 1251px 1637px #fff, 628px 471px #fff, 414px 773px #fff, 1358px 1759px #fff, 1362px 20px #fff, 929px 1093px #fff, 1353px 592px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
}

  
#stars-group-2{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 67px 704px #fff, 878px 878px #fff, 1660px 1378px #fff, 875px 138px #fff, 945px 1151px #fff, 211px 1489px #fff, 678px 70px #fff, 940px 1008px #fff, 135px 1790px #fff, 912px 732px #fff, 524px 1471px #fff, 55px 654px #fff, 1420px 775px #fff, 1723px 506px #fff, 1726px 146px #fff, 716px 1038px #fff, 194px 680px #fff, 484px 553px #fff, 1148px 817px #fff, 1227px 1372px #fff, 541px 1266px #fff, 728px 1098px #fff, 1436px 1731px #fff, 1212px 925px #fff, 1387px 1479px #fff, 1338px 1065px #fff, 476px 75px #fff, 416px 904px #fff, 80px 71px #fff, 1702px 681px #fff, 631px 1011px #fff, 1025px 1671px #fff, 1674px 1340px #fff, 342px 752px #fff, 240px 1428px #fff, 1304px 625px #fff, 1015px 83px #fff, 1137px 1514px #fff, 884px 799px #fff, 1133px 529px #fff, 241px 419px #fff, 950px 1366px #fff, 1420px 1130px #fff, 1619px 1662px #fff, 1141px 818px #fff, 1207px 494px #fff, 7px 916px #fff, 1277px 678px #fff, 801px 758px #fff, 843px 1641px #fff, 1769px 1320px #fff, 56px 1285px #fff, 969px 1397px #fff, 1066px 1075px #fff, 841px 660px #fff, 839px 283px #fff, 1632px 1478px #fff, 520px 1204px #fff, 244px 97px #fff, 344px 1117px #fff, 166px 508px #fff, 142px 1038px #fff, 110px 1637px #fff, 1537px 1769px #fff, 573px 826px #fff, 46px 1719px #fff, 1646px 1348px #fff, 1423px 1270px #fff, 1078px 774px #fff, 786px 527px #fff, 707px 1040px #fff, 513px 1726px #fff, 406px 468px #fff, 634px 1732px #fff, 1124px 627px #fff, 1556px 1341px #fff, 1451px 1109px #fff, 1631px 1767px #fff, 877px 37px #fff, 852px 1231px #fff, 1453px 672px #fff, 162px 719px #fff, 1640px 200px #fff, 1696px 284px #fff, 1666px 1598px #fff, 1375px 107px #fff, 771px 1409px #fff, 1535px 1497px #fff, 1166px 867px #fff, 1707px 518px #fff, 1794px 334px #fff, 65px 1357px #fff, 1152px 188px #fff, 1px 1213px #fff, 1253px 1231px #fff, 1165px 87px #fff, 218px 341px #fff, 1412px 1331px #fff, 1628px 1474px #fff, 1390px 844px #fff, 580px 1309px #fff, 1488px 615px #fff, 1024px 542px #fff, 1502px 833px #fff, 1280px 418px #fff, 1373px 656px #fff, 240px 1661px #fff, 313px 523px #fff, 495px 526px #fff, 1346px 1617px #fff, 1594px 1289px #fff, 67px 1460px #fff, 1646px 983px #fff, 1486px 1273px #fff, 1502px 744px #fff, 1448px 1539px #fff, 1310px 706px #fff, 687px 111px #fff, 689px 1487px #fff, 556px 597px #fff, 1472px 65px #fff, 881px 1740px #fff, 623px 1324px #fff, 1630px 125px #fff, 71px 1029px #fff, 1597px 1651px #fff, 761px 700px #fff, 1498px 1068px #fff, 1782px 615px #fff, 841px 1131px #fff, 1226px 1079px #fff, 602px 360px #fff, 218px 1675px #fff, 592px 616px #fff, 1311px 1622px #fff, 1678px 1568px #fff, 1028px 852px #fff, 462px 1556px #fff, 1539px 1438px #fff, 1011px 1728px #fff, 618px 129px #fff, 548px 1320px #fff, 228px 1454px #fff, 706px 746px #fff, 363px 114px #fff, 1418px 858px #fff, 1183px 1473px #fff, 1437px 861px #fff, 1314px 1070px #fff, 1598px 1462px #fff, 991px 395px #fff, 1202px 1549px #fff, 1548px 500px #fff, 310px 290px #fff, 208px 1623px #fff, 827px 1273px #fff, 1107px 1562px #fff, 906px 1277px #fff, 707px 641px #fff, 768px 620px #fff, 231px 1623px #fff, 470px 1008px #fff, 537px 369px #fff, 675px 145px #fff, 656px 894px #fff, 1334px 820px #fff, 227px 574px #fff, 1653px 880px #fff, 1690px 624px #fff, 1243px 121px #fff, 1571px 259px #fff, 1595px 1076px #fff, 1784px 1373px #fff, 1694px 1159px #fff, 1558px 811px #fff, 595px 1264px #fff, 440px 1411px #fff, 1625px 672px #fff, 1419px 1391px #fff, 224px 260px #fff, 1255px 378px #fff, 1713px 163px #fff, 575px 1544px #fff, 1094px 1715px #fff, 814px 885px #fff, 1126px 938px #fff, 805px 605px #fff, 262px 909px #fff, 1709px 918px #fff, 1409px 954px #fff, 365px 717px #fff, 971px 1665px #fff, 879px 579px #fff, 907px 445px #fff, 405px 565px #fff, 521px 19px #fff, 1039px 622px #fff, 1606px 1409px #fff, 1510px 478px #fff, 1227px 1759px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

  
#stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 1154px 1297px #fff, 214px 569px #fff, 1510px 1205px #fff, 813px 794px #fff, 742px 1218px #fff, 160px 116px #fff, 374px 348px #fff, 906px 1438px #fff, 1654px 1265px #fff, 700px 633px #fff, 1339px 1641px #fff, 1354px 1737px #fff, 849px 1393px #fff, 1214px 1718px #fff, 940px 1114px #fff, 1479px 848px #fff, 1390px 14px #fff, 731px 3px #fff, 1369px 868px #fff, 1727px 199px #fff, 1589px 1567px #fff, 856px 1301px #fff, 105px 1327px #fff, 658px 35px #fff, 719px 1084px #fff, 649px 481px #fff, 1545px 1501px #fff, 1725px 944px #fff, 1326px 998px #fff, 1074px 1655px #fff, 1112px 80px #fff, 1067px 227px #fff, 1251px 1293px #fff, 36px 130px #fff, 1318px 288px #fff, 495px 161px #fff, 1167px 532px #fff, 919px 1379px #fff, 641px 1381px #fff, 199px 1448px #fff, 137px 714px #fff, 512px 1343px #fff, 717px 1627px #fff, 1184px 1415px #fff, 412px 1193px #fff, 857px 1648px #fff, 519px 96px #fff, 1214px 171px #fff, 190px 1421px #fff, 642px 368px #fff, 883px 286px #fff, 777px 1452px #fff, 509px 862px #fff, 1075px 796px #fff, 224px 11px #fff, 359px 474px #fff, 1221px 32px #fff, 617px 1232px #fff, 787px 356px #fff, 1443px 773px #fff, 1453px 1736px #fff, 890px 351px #fff, 392px 1541px #fff, 95px 1692px #fff, 1147px 323px #fff, 1744px 1088px #fff, 106px 1705px #fff, 1524px 1303px #fff, 390px 989px #fff, 201px 1483px #fff, 887px 1220px #fff, 619px 549px #fff, 913px 1413px #fff, 289px 1284px #fff, 860px 956px #fff, 335px 65px #fff, 597px 1117px #fff, 1156px 384px #fff, 724px 1697px #fff, 963px 147px #fff, 1343px 1383px #fff, 634px 1685px #fff, 184px 1693px #fff, 1627px 702px #fff, 25px 806px #fff, 1640px 464px #fff, 1497px 1429px #fff, 1169px 672px #fff, 1772px 1187px #fff, 147px 1506px #fff, 1131px 1042px #fff, 600px 539px #fff, 794px 353px #fff, 210px 906px #fff, 850px 1204px #fff, 645px 1774px #fff, 1691px 59px #fff, 653px 969px #fff, 580px 272px #fff, 1788px 322px #fff, 1205px 770px #fff, 500px 1180px #fff, 1782px 1560px #fff, 1399px 391px #fff, 1012px 355px #fff, 207px 943px #fff, 34px 1363px #fff, 1358px 100px #fff, 992px 109px #fff, 1770px 597px #fff, 1494px 1715px #fff, 714px 1710px #fff, 635px 91px #fff, 997px 1794px #fff, 1007px 122px #fff, 949px 1268px #fff, 310px 1468px #fff, 316px 597px #fff, 1296px 1173px #fff, 790px 314px #fff, 1120px 769px #fff, 494px 1498px #fff, 581px 905px #fff, 949px 1435px #fff, 1434px 1130px #fff, 654px 1019px #fff, 1350px 1092px #fff, 1321px 342px #fff, 1449px 572px #fff, 1130px 572px #fff, 1573px 1732px #fff, 290px 714px #fff, 1486px 523px #fff, 1109px 1000px #fff, 219px 1535px #fff, 1312px 1549px #fff, 1301px 1676px #fff, 102px 1065px #fff, 964px 449px #fff, 77px 918px #fff, 1613px 637px #fff, 16px 841px #fff, 1398px 1678px #fff, 1470px 428px #fff, 1495px 658px #fff, 947px 111px #fff, 1234px 1111px #fff, 1677px 778px #fff, 556px 172px #fff, 932px 1464px #fff, 129px 165px #fff, 913px 297px #fff, 517px 591px #fff, 1030px 115px #fff, 974px 1114px #fff, 1506px 1793px #fff, 604px 1532px #fff, 14px 1490px #fff, 1437px 562px #fff, 826px 462px #fff, 271px 1630px #fff, 376px 1754px #fff, 426px 125px #fff, 1596px 1421px #fff, 1691px 910px #fff, 1337px 950px #fff, 771px 1778px #fff, 1740px 1579px #fff, 1198px 1522px #fff, 785px 1092px #fff, 1505px 249px #fff, 1365px 1234px #fff, 515px 1523px #fff, 971px 340px #fff, 1393px 131px #fff, 247px 844px #fff, 1105px 1158px #fff, 432px 1696px #fff, 33px 1151px #fff, 256px 1577px #fff, 920px 830px #fff, 1563px 221px #fff, 611px 1087px #fff, 423px 1244px #fff, 76px 1377px #fff, 1601px 40px #fff, 1215px 99px #fff, 377px 1397px #fff, 750px 658px #fff, 1116px 1764px #fff, 1033px 1185px #fff, 890px 316px #fff, 1155px 1623px #fff, 1196px 1739px #fff, 663px 1429px #fff, 1266px 546px #fff, 816px 1621px #fff, 985px 972px #fff, 1500px 970px #fff, 9px 1685px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}
  
#stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 1492px 192px #fff, 430px 36px #fff, 347px 1640px #fff, 252px 363px #fff, 505px 589px #fff, 933px 1433px #fff, 1319px 1219px #fff, 757px 699px #fff, 930px 769px #fff, 1491px 941px #fff, 1068px 1182px #fff, 154px 1483px #fff, 102px 167px #fff, 1038px 560px #fff, 569px 788px #fff, 48px 627px #fff, 1049px 747px #fff, 98px 1649px #fff, 1598px 22px #fff, 130px 308px #fff, 845px 345px #fff, 957px 705px #fff, 1405px 834px #fff, 1418px 943px #fff, 691px 1514px #fff, 1559px 656px #fff, 678px 1180px #fff, 884px 254px #fff, 868px 1197px #fff, 326px 555px #fff, 299px 564px #fff, 311px 1271px #fff, 1720px 1460px #fff, 1571px 1571px #fff, 339px 306px #fff, 1172px 1774px #fff, 348px 1201px #fff, 1211px 439px #fff, 181px 173px #fff, 1474px 725px #fff, 886px 1725px #fff, 656px 565px #fff, 1674px 793px #fff, 1052px 1019px #fff, 1557px 56px #fff, 785px 162px #fff, 1336px 960px #fff, 1725px 1228px #fff, 1014px 247px #fff, 6px 662px #fff, 385px 819px #fff, 382px 1547px #fff, 1162px 1371px #fff, 99px 830px #fff, 337px 290px #fff, 1041px 496px #fff, 1290px 309px #fff, 526px 186px #fff, 1166px 771px #fff, 1637px 1014px #fff, 1363px 1313px #fff, 5px 1169px #fff, 1668px 1569px #fff, 849px 775px #fff, 1174px 760px #fff, 627px 1652px #fff, 1731px 1429px #fff, 789px 1268px #fff, 632px 483px #fff, 1512px 1509px #fff, 1629px 1061px #fff, 698px 1240px #fff, 925px 1194px #fff, 1295px 1201px #fff, 1749px 56px #fff, 967px 965px #fff, 681px 1284px #fff, 1727px 167px #fff, 292px 468px #fff, 1636px 202px #fff, 80px 937px #fff, 1203px 1621px #fff, 441px 863px #fff, 1531px 498px #fff, 1350px 767px #fff, 931px 1604px #fff, 1671px 1499px #fff, 1626px 690px #fff, 312px 729px #fff, 926px 416px #fff, 948px 405px #fff, 852px 1282px #fff, 1377px 1028px #fff, 770px 402px #fff, 1532px 407px #fff, 94px 1428px #fff, 1060px 1504px #fff, 1416px 971px #fff, 1160px 515px #fff, 321px 181px #fff, 41px 1261px #fff, 549px 1789px #fff, 1168px 1610px #fff, 23px 359px #fff, 1118px 400px #fff, 1408px 366px #fff, 1717px 444px #fff, 969px 306px #fff, 372px 950px #fff, 1252px 166px #fff, 1773px 1565px #fff, 717px 971px #fff, 1537px 908px #fff, 818px 1435px #fff, 318px 418px #fff, 23px 1092px #fff, 429px 897px #fff, 77px 318px #fff, 410px 1471px #fff, 317px 1756px #fff, 972px 1172px #fff, 899px 554px #fff, 117px 1652px #fff, 1088px 674px #fff, 858px 1569px #fff, 920px 755px #fff, 1160px 1319px #fff, 164px 784px #fff, 1036px 540px #fff, 248px 1337px #fff, 1099px 1436px #fff, 734px 1488px #fff, 1453px 69px #fff, 257px 1371px #fff, 1580px 570px #fff, 457px 8px #fff, 147px 871px #fff, 1510px 150px #fff, 1421px 1549px #fff, 1663px 491px #fff, 835px 1551px #fff, 215px 1163px #fff, 1485px 1580px #fff, 380px 1611px #fff, 1195px 510px #fff, 731px 48px #fff, 1414px 555px #fff, 1301px 1488px #fff, 759px 1691px #fff, 373px 1196px #fff, 1275px 1072px #fff, 1731px 1372px #fff, 1439px 1272px #fff, 91px 160px #fff, 608px 1555px #fff, 1146px 1544px #fff, 1799px 297px #fff, 1797px 1351px #fff, 1134px 927px #fff, 1109px 1344px #fff, 340px 1274px #fff, 1223px 32px #fff, 512px 131px #fff, 985px 1735px #fff, 82px 1491px #fff, 310px 849px #fff, 391px 1720px #fff, 1371px 275px #fff, 1306px 248px #fff, 1735px 416px #fff, 669px 1006px #fff, 507px 372px #fff, 1343px 1516px #fff, 767px 119px #fff, 727px 1181px #fff, 480px 639px #fff, 1539px 818px #fff, 1761px 553px #fff, 1102px 1687px #fff, 1107px 436px #fff, 249px 353px #fff, 1702px 808px #fff, 306px 1407px #fff, 888px 894px #fff, 81px 21px #fff, 311px 996px #fff, 1504px 81px #fff, 1059px 1428px #fff, 1735px 1366px #fff, 710px 1532px #fff, 195px 1398px #fff, 873px 1333px #fff, 821px 781px #fff, 1133px 1017px #fff, 1148px 1045px #fff, 678px 1249px #fff, 546px 1318px #fff, 268px 39px #fff, 1712px 1545px #fff, 442px 1333px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.3s;
}
  
#stars-group-5 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 210px 1099px #fff, 1551px 1356px #fff, 859px 1038px #fff, 650px 864px #fff, 663px 1456px #fff, 1012px 1312px #fff, 803px 1025px #fff, 1325px 377px #fff, 1165px 1694px #fff, 341px 180px #fff, 677px 846px #fff, 944px 500px #fff, 1743px 1765px #fff, 1630px 1060px #fff, 542px 1256px #fff, 1286px 1173px #fff, 1458px 65px #fff, 137px 498px #fff, 1620px 967px #fff, 1711px 1058px #fff, 1458px 1129px #fff, 100px 164px #fff, 870px 979px #fff, 881px 848px #fff, 584px 1047px #fff, 483px 1437px #fff, 451px 991px #fff, 319px 925px #fff, 868px 1656px #fff, 1001px 893px #fff, 1499px 1328px #fff, 54px 967px #fff, 823px 12px #fff, 1083px 54px #fff, 1226px 1473px #fff, 505px 748px #fff, 1026px 1751px #fff, 1066px 862px #fff, 531px 845px #fff, 756px 781px #fff, 1427px 1315px #fff, 1210px 39px #fff, 210px 1494px #fff, 1173px 1461px #fff, 1482px 1509px #fff, 759px 939px #fff, 985px 125px #fff, 977px 1239px #fff, 346px 113px #fff, 1653px 687px #fff, 1339px 329px #fff, 94px 1161px #fff, 181px 307px #fff, 1719px 307px #fff, 693px 608px #fff, 1629px 346px #fff, 1775px 37px #fff, 1706px 384px #fff, 55px 1662px #fff, 462px 327px #fff, 1658px 682px #fff, 1080px 1596px #fff, 486px 1144px #fff, 9px 964px #fff, 219px 1540px #fff, 621px 1449px #fff, 1191px 1449px #fff, 976px 222px #fff, 624px 1625px #fff, 41px 295px #fff, 1304px 757px #fff, 740px 1408px #fff, 1369px 97px #fff, 1285px 689px #fff, 1552px 1209px #fff, 266px 608px #fff, 502px 1156px #fff, 1637px 1772px #fff, 272px 665px #fff, 329px 176px #fff, 66px 381px #fff, 1107px 1072px #fff, 1552px 1186px #fff, 175px 1173px #fff, 1593px 877px #fff, 757px 1185px #fff, 1569px 1706px #fff, 1012px 686px #fff, 394px 1535px #fff, 761px 606px #fff, 538px 890px #fff, 1799px 1725px #fff, 1694px 742px #fff, 332px 633px #fff, 1545px 719px #fff, 1396px 1355px #fff, 1170px 1106px #fff, 1308px 646px #fff, 998px 790px #fff, 1110px 1610px #fff, 1255px 874px #fff, 1592px 83px #fff, 99px 1285px #fff, 1475px 300px #fff, 130px 506px #fff, 101px 1206px #fff, 1084px 1474px #fff, 1661px 1006px #fff, 1465px 15px #fff, 1268px 811px #fff, 417px 431px #fff, 228px 330px #fff, 1582px 1361px #fff, 566px 1282px #fff, 844px 1756px #fff, 86px 1092px #fff, 1338px 753px #fff, 1319px 353px #fff, 5px 840px #fff, 324px 1579px #fff, 491px 1354px #fff, 870px 161px #fff, 973px 1089px #fff, 586px 32px #fff, 1350px 557px #fff, 505px 1124px #fff, 1581px 150px #fff, 1041px 1004px #fff, 827px 290px #fff, 116px 526px #fff, 468px 1188px #fff, 1289px 1148px #fff, 1068px 1530px #fff, 731px 848px #fff, 1362px 1749px #fff, 1607px 1478px #fff, 1301px 1314px #fff, 1770px 253px #fff, 712px 1487px #fff, 975px 786px #fff, 1151px 1720px #fff, 1733px 1465px #fff, 281px 925px #fff, 488px 1054px #fff, 1691px 736px #fff, 1114px 628px #fff, 1229px 1739px #fff, 889px 193px #fff, 1763px 1228px #fff, 1278px 1777px #fff, 1703px 526px #fff, 11px 442px #fff, 639px 1518px #fff, 873px 863px #fff, 1587px 1171px #fff, 499px 545px #fff, 596px 1117px #fff, 1484px 716px #fff, 1171px 1615px #fff, 1677px 824px #fff, 1392px 956px #fff, 4px 131px #fff, 430px 417px #fff, 1638px 1794px #fff, 1548px 233px #fff, 1756px 779px #fff, 1132px 766px #fff, 69px 1088px #fff, 823px 268px #fff, 796px 446px #fff, 153px 1504px #fff, 534px 1514px #fff, 1512px 136px #fff, 661px 134px #fff, 78px 1542px #fff, 943px 629px #fff, 1792px 452px #fff, 1213px 1540px #fff, 489px 282px #fff, 997px 568px #fff, 1019px 526px #fff, 485px 1022px #fff, 37px 165px #fff, 531px 283px #fff, 365px 611px #fff, 1567px 416px #fff, 199px 32px #fff, 940px 1005px #fff, 403px 736px #fff, 722px 178px #fff, 958px 1718px #fff, 1717px 1208px #fff, 97px 562px #fff, 1090px 868px #fff, 605px 1512px #fff, 1438px 1066px #fff, 201px 1156px #fff, 336px 837px #fff, 13px 605px #fff, 1156px 564px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}
  
#stars-group-6 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 2000px 1408px #fff, 538px 582px #fff, 1074px 1405px #fff, 1557px 1295px #fff, 123px 1580px #fff, 1020px 674px #fff, 370px 836px #fff, 778px 349px #fff, 1511px 696px #fff, 318px 824px #fff, 1136px 872px #fff, 593px 234px #fff, 1716px 945px #fff, 856px 780px #fff, 530px 949px #fff, 550px 1580px #fff, 1186px 1027px #fff, 673px 852px #fff, 259px 666px #fff, 680px 1000px #fff, 71px 33px #fff, 1388px 78px #fff, 1382px 302px #fff, 1771px 1336px #fff, 777px 107px #fff, 1784px 757px #fff, 1292px 1349px #fff, 1586px 945px #fff, 1481px 1530px #fff, 678px 1616px #fff, 1138px 1777px #fff, 640px 778px #fff, 808px 1468px #fff, 976px 1755px #fff, 145px 160px #fff, 958px 297px #fff, 1585px 1724px #fff, 788px 421px #fff, 1622px 1647px #fff, 626px 586px #fff, 1369px 1241px #fff, 1452px 1545px #fff, 897px 772px #fff, 49px 1094px #fff, 1024px 1341px #fff, 879px 1626px #fff, 1483px 909px #fff, 1217px 1127px #fff, 69px 913px #fff, 1251px 83px #fff, 1071px 1253px #fff, 1412px 1364px #fff, 863px 858px #fff, 959px 55px #fff, 1219px 1461px #fff, 1734px 821px #fff, 343px 1288px #fff, 1386px 579px #fff, 319px 1693px #fff, 1113px 724px #fff, 1550px 291px #fff, 1668px 949px #fff, 1306px 101px #fff, 191px 44px #fff, 1791px 1020px #fff, 1690px 644px #fff, 1691px 1323px #fff, 478px 115px #fff, 521px 32px #fff, 671px 963px #fff, 1288px 1778px #fff, 536px 1284px #fff, 1112px 305px #fff, 1366px 1303px #fff, 415px 369px #fff, 1401px 1205px #fff, 130px 825px #fff, 944px 862px #fff, 1680px 1294px #fff, 445px 612px #fff, 1012px 1262px #fff, 22px 1142px #fff, 1081px 706px #fff, 1768px 1563px #fff, 1069px 1442px #fff, 1136px 384px #fff, 1692px 808px #fff, 1471px 144px #fff, 1346px 605px #fff, 1570px 461px #fff, 617px 370px #fff, 1572px 625px #fff, 485px 360px #fff, 705px 493px #fff, 1540px 1684px #fff, 1136px 570px #fff, 1530px 1233px #fff, 1084px 1372px #fff, 218px 419px #fff, 693px 1402px #fff, 678px 103px #fff, 1367px 159px #fff, 924px 1602px #fff, 578px 865px #fff, 1008px 198px #fff, 1082px 686px #fff, 1173px 780px #fff, 679px 101px #fff, 998px 1713px #fff, 192px 873px #fff, 570px 1102px #fff, 1054px 462px #fff, 1190px 1197px #fff, 735px 1481px #fff, 136px 1794px #fff, 294px 1047px #fff, 704px 1501px #fff, 235px 1142px #fff, 145px 1129px #fff, 1552px 300px #fff, 121px 1168px #fff, 1009px 826px #fff, 1183px 1381px #fff, 729px 565px #fff, 1525px 941px #fff, 1544px 1247px #fff, 254px 609px #fff, 538px 1260px #fff, 471px 1308px #fff, 825px 445px #fff, 1525px 1187px #fff, 1626px 269px #fff, 571px 1774px #fff, 1476px 277px #fff, 966px 1791px #fff, 196px 1742px #fff, 284px 939px #fff, 194px 247px #fff, 492px 1505px #fff, 454px 379px #fff, 912px 181px #fff, 1211px 1439px #fff, 1628px 294px #fff, 1148px 1639px #fff, 397px 928px #fff, 17px 1546px #fff, 1208px 1677px #fff, 969px 1330px #fff, 1176px 1444px #fff, 1628px 1627px #fff, 1554px 175px #fff, 610px 1557px #fff, 1332px 58px #fff, 1042px 1076px #fff, 1233px 985px #fff, 397px 684px #fff, 1453px 1298px #fff, 152px 617px #fff, 89px 1413px #fff, 1716px 899px #fff, 1025px 404px #fff, 373px 985px #fff, 1195px 995px #fff, 1663px 620px #fff, 982px 325px #fff, 1790px 1793px #fff, 1019px 614px #fff, 341px 709px #fff, 985px 359px #fff, 478px 754px #fff, 859px 1002px #fff, 1798px 1533px #fff, 1763px 1664px #fff, 895px 1575px #fff, 1067px 1471px #fff, 1245px 491px #fff, 883px 159px #fff, 1044px 1126px #fff, 437px 1165px #fff, 1446px 846px #fff, 1626px 494px #fff, 155px 1394px #fff, 309px 1502px #fff, 1646px 1093px #fff, 703px 340px #fff, 1167px 1325px #fff, 1329px 307px #fff, 1771px 704px #fff, 1412px 1196px #fff, 499px 668px #fff, 375px 534px #fff, 879px 260px #fff, 1381px 263px #fff, 1623px 1197px #fff, 673px 334px #fff, 1213px 1581px #fff, 1445px 50px #fff, 102px 133px #fff, 849px 457px #fff, 1632px 916px #fff, 532px 1477px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.5s;
}
  
@keyframes glowing-stars {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}